html{
    box-sizing: border-box;
    --primary-color: rgb(245, 245, 245);
    --secondary-color: rgb(192, 192, 192);
    --text-color: rgb(0, 0, 0);
    --change-theme-button: rgb(235, 235, 235);
}

html[data-theme="dark"] {
    --primary-color: rgb(51, 51, 51);
    --secondary-color: rgb(0, 0, 0);
    --text-color: rgb(224, 224, 224);
    --change-theme-button: rgb(238, 230, 125);
  }

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color)
}

.main{
    margin:0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 800px;
}

.wrapper{
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    cursor: default;
    color:var(--text-color);
}



.imgController{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.imgStyle{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 40%;
    height: 40%;
}

.projectsSectionImgStyle{
    max-width: 100%;
    height: 100%;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    background-color: var( --secondary-color);
    margin-top: 1rem;
    max-height: 40px;
}

.footer__text{
    justify-items: left;
    align-items: initial;
    font-family: monospace;
    cursor: default;
    margin-left: 60%;
    color:  var(--text-color);
} 

a{
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
    color: rgb(105, 105, 105);
}

p{
    margin-bottom: 35px;
}

.textMain{
    word-break:keep-all;
    white-space:normal;
    font-variant-caps: petite-caps;
}

.inicioBoton{
    border-radius: 50%;
    background-color: rgb(167, 167, 167);
    margin-top: 1rem;
}

.changeTheme{
    background-color:var(--change-theme-button);
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    cursor:pointer
}