html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245)
}

.wrapper{
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 800px;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    cursor: default;
}

.imgController{
    display: flex;
    justify-content: center;
}

.imgStyle{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 40%;
    height: 40%;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin-bottom: 50px;
}