.projectSection{
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 800px;
    font-family: monospace;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    cursor: default;
}