.projectSection{
    justify-content: center;
    max-width: 800px;
    font-family: monospace;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    cursor: default;
    background-color: var( --secondary-color);
    padding-bottom: 25px;
    color:var(--text-color);
}

.projectSectionLinks{
    text-decoration: none;
    color: var(--text-color);
    font-size: 2em;
}

.projectSectionLinks:hover{
    color: rgb(255, 255, 255);
}